<!DOCTYPE html>
<html>
<head>
<title>My Navbar</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="search">Book ticket</a></li>
      <li><a href="track1">Track train</a></li>
      <li><a href="wallet">wallet</a></li>
      <li><a href="journey">Journeys</a></li>
    </ul>
  </nav>
</body>
</html>
<style>
  nav {
  background-color: #333;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

nav a:hover {
  background-color: #555;
}

</style>