
<head>
  <h1> Your balance is {{amount}}
  </h1>
    <title>Enter Name Form</title>
    <link rel="stylesheet" href="style.css">
    </head>
    <body>
      <button id="open-form">Click here to add money</button>
      <form method="post">
    
      <div id="name-form" class="hidden">
        <h2>Add money to wallet</h2>
        <label for="name-input">Amount</label>
        <input type="text" id="name-input"  name="vyoma" required>
        <button type="submit">Submit</button>
        {% csrf_token %}
      </div>
    </form>
      <style>
        /* style.css */
    .hidden {
      display: none;
    }
    
      </style>
    
      <script>
        // script.js
    const openFormButton = document.getElementById("open-form");
    const nameForm = document.getElementById("name-form");
    
    openFormButton.addEventListener("click", () => {
      nameForm.classList.toggle("hidden"); // Toggle visibility
    });
    
    
      </script> 
    </body>
    
    